.header__burg-menu_is-open {
    display: none;
    background-color: #000000;
}

@media screen and (max-width: 649px) {
    .header__burg-menu_is-open {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    }
}