.login__button {
    background-color: #fff;
    border-radius: 2px;
    color: #000;
    cursor: pointer;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-size: 1.125em;
    line-height: 1.375;
    margin-top: 216px;
}

.login__button:hover {
    opacity: 0.8;
}

@media screen and (min-width:320px)  {
    .login__button {
        font-size: 1.125em;
        line-height: 1.22;
        height: 46px;
    }
}

@media screen and (max-width: 520px) {
    .login__button {
        margin-top: 173px;
    }
}