.login__input {
    border: none;
    background-color: inherit;
    box-sizing: border-box;
    font-size: 0.875em;
    line-height: 1.06;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 2px solid #CCCCCC;
    padding: 0 0 13px;
    outline: none;
    color: #CCCCCC;
}