.header__container {
    display: flex;
    padding-right: 27px;
    height: 22px;
}

@media screen and (max-width: 649px) {
    .header__container {
        display: none;
    }
}

.header__container:last-child {
    padding-right: 0;
}